<!DOCTYPE HTML>
<html>
<body>
<div class="container">
    <form action="/members/personalRecord" method="post">
        <h1>선수 기록 등록</h1> <br/>
        <div class="form-group">
            <label for="name">선수 이름: </label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요"><br/>
            <label for="score">총득점: </label>
            <input type="text" id="score" name="score" placeholder="총득점을 입력하세요"><br/>
            <label for="assist">어시스트: </label>
            <input type="text" id="assist" name="assist" placeholder="어시스트 횟수를 입력하세요"><br/>
            <label for="rebound">리바운드: </label>
            <input type="text" id="rebound" name="rebound" placeholder="리바운드 횟수를 입력하세요"><br/>
            <label for="steal">스틸: </label>
            <input type="text" id="steal" name="steal" placeholder="스틸 횟수를 입력하세요"><br/>
            <label for="block">블록: </label>
            <input type="text" id="block" name="block" placeholder="블록 횟수를 입력하세요"><br/>
            <label for="point2">2점슛: </label>
            <input type="text" id="point2" name="point2" placeholder="2점슛 총득점을 입력하세요"><br/>
            <label for="point3">3점슛: </label>
            <input type="text" id="point3" name="point3" placeholder="3점슛 총득점을 입력하세요"><br/>
            <label for="freeshot">자유투: </label>
            <input type="text" id="freeshot" name="freeshot" placeholder="자유투 총득점을 입력하세요"><br/>
            <label for="play_date">경기 날짜: </label>
            <input type="text" id="play_date" name="play_date" placeholder="yyyyMMdd"><br/>
        </div>
        <br/>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>