<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.bsm.mapper.MemberMapper">
    <insert id="insertMember" parameterType="MemberDTO">
        INSERT INTO MEMBER(email, password, name, position, create_date)
        VALUES(#{email}, #{password}, #{name}, #{position}, CURRENT_TIMESTAMP)
    </insert>

    <select id="loginChk"  resultType="int">
        SELECT count(*)
        FROM MEMBER
        WHERE id = #{memberId}
          AND password = #{password}
    </select>


    <update id="updatePassword" parameterType="MemberDTO">
        UPDATE MEMBER
        SET
            password = #{newPassword}
        WHERE id = #{memberId}
          AND password = #{password}
    </update>

    <!-- 사용자 이메일 찾기   -->
    <select id="findEmail" parameterType="Member" resultType="Member">
        SELECT email
        FROM MEMBER
        WHERE name = #{name}
        AND delete_date IS null
    </select>

    <!-- 사용자 비밀번호 변경_인증단계   -->
    <select id="passwordChangeAuth" parameterType="Member" resultType="Member">
        SELECT *
        FROM MEMBER
        WHERE name = #{name}
        AND email = #{email}
    </select>

    <!-- 사용자 조회 -->
    <select id="checkUser" parameterType="Member" resultType="Member">
        SELECT *, delete_date as deleteDate
        FROM MEMBER
        WHERE id = #{id}
    </select>
    <!-- 사용자 삭제 -->
    <update id="deleteUser" parameterType="Member">
        UPDATE MEMBER
        SET delete_date = NOW()
        WHERE id = #{id}
    </update>
</mapper>