<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bsm.mapper.PersonalRecordZuriMapper">

    <select id="getAllRecord" parameterType="com.example.bsm.common.Pagination" resultType="PersonalRecordZuriDto">
        SELECT
            PLAY_DATE          AS "playDate",
            NAME               AS "name",
            SCORE              AS "score",
            ASSIST             AS "assist",
            REBOUND            AS "rebound",
            STEAL              AS "steal",
            BLOCK              AS "block",
            POINT2             AS "point2",
            POINT3             AS "point3",
            FREESHOT           AS "freeshot"
        FROM PERSONAL_RECORD
        ORDER BY PLAY_DATE
        LIMIT #{startNum}, #{perCnt}
    </select>

    <select id="getPersonalRecord" parameterType="int" resultType="PersonalRecordZuriDto">
        SELECT
            PLAY_DATE          AS "playDate",
            NAME               AS "name",
            SCORE              AS "score",
            ASSIST             AS "assist",
            REBOUND            AS "rebound",
            STEAL              AS "steal",
            BLOCK              AS "block",
            POINT2             AS "point2",
            POINT3             AS "point3",
            FREESHOT           AS "freeshot"
        FROM PERSONAL_RECORD PR
        WHERE PR.MEMBERID = #{memberId}
        ORDER BY PLAY_DATE
    </select>

</mapper>